---
import Banner from '@components/Banner.astro'
import Benefits from '@components/Benefits.astro'
import FinalCTA from '@components/FinalCTA.astro'
import SocialProof from '@components/SocialProof.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main id="main-content">
    <Banner />
    <Hero />
    <Benefits />
    <SocialProof />
    <FinalCTA />
  </main>
</Layout>
